.header-icons-div{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: var(--light);
}
.header-icons{
    font-size: 14px;
}
.message-text{
    font-size: 14px;
}
.message-time{
    font-size: 11px;
    margin-top: 0px;
}
.message-div{
    min-width: 20%;
    max-width: 100%;
    margin-block: 5px;
}
.message-container{
    padding: 10px;
    word-wrap: break-word;
    background-color: var(--light);
    border-radius: 8px;
}
.inside::-webkit-scrollbar {
    display: none;
}
.inside{
    height: calc(100% - 120px);
    overflow-y: auto;
    max-height: 100%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}
.write-div{
    width: 100%;
    border-radius: 8px;
    padding: 8px 10px;
    z-index: 100;
}
.msg-input{
    border: none;
    outline: none;
    padding: 3px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    width: calc(100% - 30px);
}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 10px);
}
.write-icon{
    font-size: 14px;
}
.msg-image{
    font-size: 12px;
    width: 180px;
    height: 220px;
    border-radius: 5px;
    margin-block: 5px;
}
.modal-image{
    width: auto;
    max-width: calc(100% - 1px);
}
.image-progress{
    position: absolute;
    bottom: 5px;
    left: 0;
    max-width: 100%;
    line-height: 1;
    width: 0%;
    height: 3px;
    background-color: rgb(237, 56, 56);
    font-size: smaller;
}


@keyframes recording {

    0%{
        padding: 0.2em;
        background-color: var(--warning);
    }
    100%{
        padding: 1em;
        background-color: var(--success);
    }
}
.recorder-div, .recorder1-div{
    border-radius: 50%;
    color: var(--light);
    background-color: var(--warning);
    padding: 1.5em;
    mix-blend-mode: multiply;
    animation: recording 0.8s ease-in-out 0s infinite alternate none;
}
@keyframes recording1 {
    0% {
        padding: 0.1em;
        background-color: var(--success);
    }
    100% {
        padding: 0.8em;
        background-color: var(--orange);
    }
}
.recorder1-div{
    animation: recording1 0.8s ease-in-out 0s infinite alternate-reverse none;
}
.file-drop{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .2em;
}
.file-drop:hover .attach-dropdown{
    display: flex;
}
.attach-dropdown{
    display: none;
    position: absolute;
    bottom: 8px;
    left: -10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: display 0.5s;
}
.files-label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 8px;
}
audio{
    width: 150px;
    font-size: 14px;
}

