.last-msg{
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.chat-name{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.unread-badge{
    font-size: 11px;
}
.contact-search{
    color: var(--secondary-hover) !important;
    margin-block: 20px;
    height: 35px;
    font-size: 14px;
    background: transparent;
    border-color: var(--secondary-hover);
}
.contact-search:focus{
    box-shadow: none;
    background: transparent;
}
.contact-menu{
    border-radius: 50% !important;
    cursor: pointer;
    height: 28px;
    width: 28px;
}
.contact-col{
    height: 100%;
}
.con-div{
    height: calc(100% - 110px);
    overflow-y: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
}
.con-div::-webkit-scrollbar {
    display: none;
}
.add-select{
    width: 28%;
}
.add-input{
    width: 70%;
}
.add-btn{
    min-width: 100px;
    margin-block: 10px;
    float: right;
    clear: left;
}
.contact:hover{
    background-color: var(--secondary);
}