:root{
  --secondary : #6c757d;
  --secondary-hover: #84888b;
  --light: #dde1e4;
  --warning: #e6b628;
  --success: #198754;
  --orange: #f47b18;
}
body {

  margin: 0;
  font-family: "Overpass", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  /* border: 1px solid red; */
  transition: all 0.2s;
}
.chat-page-container{
  height: calc(100vh - 20px);
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #6c757d;
  margin: 8px;
  background-color: #d57e45;
  /* mix-blend-mode: exclusion; */
}
.chat-row, .chat-col, .msg-col{
  height: 100%;
  max-height: calc(100% - 0px);
}
